<article  class="card">
    <a href="/blogs/{{id}}" >
        <header>
            <h2>{{title}}</h2>
            <p>Posted by {{capitalize user.username}} {{format_date createdAt}}</p>
        </header>

        <div>
            <p>{{content}}</p> 
        </div>
    </a>
</article>


